# Imports

### Findspark

In [1]:
import findspark

In [2]:
findspark.init('/home/floxyploxy/spark-3.1.2-bin-hadoop3.2/')

In [3]:
import pyspark
from pyspark.sql import SparkSession

# Spark Dataframe Basics

In [4]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [5]:
df = spark.read.json('people.json')

In [6]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [7]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
df.columns

['age', 'name']

In [9]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

## Change Schema

In [10]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [11]:
data_schema = [StructField('age', IntegerType(), True),
               StructField('name', StringType(), True)]

In [12]:
final_struct = StructType(fields=data_schema)

In [13]:
df = spark.read.json('people.json', schema=final_struct)

In [14]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

## Select Data

In [15]:
# returns single column
type(df.age)

pyspark.sql.column.Column

In [16]:
# returns a dataframe that contains single column
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [17]:
# row
type(df.head(2)[0])

pyspark.sql.types.Row

In [18]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

## Create a Column

In [19]:
# copy of an existing column, not an inplace operation
df.withColumn('newage', df['age']*2).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [20]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [21]:
# rename a column, not an inplace operation
df.withColumnRenamed('age', 'age_renamed').show()

+-----------+-------+
|age_renamed|   name|
+-----------+-------+
|       null|Michael|
|         30|   Andy|
|         19| Justin|
+-----------+-------+

## Using Pure SQL

In [22]:
df.createOrReplaceTempView('people')

In [23]:
results = spark.sql('SELECT * FROM people')

In [24]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [25]:
new_results = spark.sql('SELECT * FROM people WHERE age=30')

In [26]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+